.my-list {
    background-color: #f9f999;
    Padding: 8px 24px;
    Width: 500px;
    font-size: 30px;
    border: 1px solid #f7f381;
    box-shadow: 0 0 12px 2px #333333;
    margin: 0 auto;
    p {
    text-align: center;
    }
}